#register-wrapper { 
	display: flex;
	justify-content: center;
	align-items: flex-start;

	width: 100vw;
	min-height: calc(100vh - var(--header-height));
	height: calc(100% - var(--header-height));
	margin: 0;
	padding: 0;
	position: relative;
	background-color: white;
}

#register-wrapper .vertical {
	background-color: transparent;
	width: 40%;
	min-width: 400px;
	height: 100%;
	padding-top: 3vh;
}

#register-wrapper #icon { display: none; }

#register-wrapper label { width: 100%; font-size: 0.9rem; font-weight: bold; text-align: left; margin-top: 10px; }
#register-wrapper span.infos { width: 100%; font-size: 0.8rem; text-align: left; margin-top: 2px; }

#register-wrapper #box {
	width: calc(100% - 42px); 
	height: 100%;
	background: transparent;
	padding: 10px 20px;		
	position: relative;	
	border-radius: 5px;
}

#register-wrapper .titre {
	flex: 0.4;
	display: flex;
	align-items: center;
	justify-content: flex-start;			
	height: 100%;
	width: 100%;
	font-family: Calibri; 
	text-transform: uppercase; 
	text-align: center;
	color: #F17503; 
	/*background-color: #155149; */
	font-size: 1.4rem;
	padding: 5px 0 5px 0;	
	border-bottom: 1px solid #CCC;	
}	

#register-wrapper .titre span {
	font-family: cursive;
	font-size: 0.9rem;
	font-style: italic;
	font-weight: bold;
	padding-top: 2px;
}

#register-wrapper #form {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;			
}

#register-wrapper #form #login {
	flex: 2;
	padding: 10px 0 0 0;
	width: calc(100%);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;			
}

#register-wrapper #form #submit {
	flex: 1;
	width: 100%;
	height: 100%;
	margin-top: 3%;
	display: flex;
	align-items: center;
	justify-content: center;				
}

#register-wrapper #form #help { color: #FF4040; font-size: 1.5rem; position: absolute; top: 5px; right: 5px; cursor: pointer; }
#register-wrapper #form #help:hover { color: #000; }
#register-wrapper #form #instructions { margin: 20px 5px 0 5px; display: none; }
#register-wrapper #form #instructions ol { margin-left: 20px; }
#register-wrapper #form #instructions a { color: blue; font-size: 0.9rem; }
#register-wrapper #form #instructions a:hover { text-decoration: underline; }

#register-wrapper #form .password {
	margin: 0; 
	padding: 0; 
	width: calc(100%); 
	position: relative;
	display: flex; 
	flex-direction: row; 
	justify-content: flex-start; 
	align-items: center;
}

#register-wrapper #form .password input {
	width: calc(100% - 12px);
	font-size: 1.1rem;
}
#register-wrapper #form .password i {
	margin-left: -30px; cursor: pointer;	
}

#register-wrapper #form #erreur { 
	font-family: Calibri; 
	color: #FF4040; 
	font-size: 0.8rem; 
	font-weight: bold; 

	flex: 0.3;			
}

input[type="text"],
input[type="password"],
textarea,
select {
	margin: 0 0 2% 0;
}

#register-wrapper .bouton-submit {
	flex: 1;
	font-family: Calibri; 
	font-size: 1.2rem;
	text-transform: capitalize;
	width: 150px;
	height: 30px;
	line-height: 0px;
	background-color: #155149;
	color: white;
	cursor: pointer;
	transition: all 500ms;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
	border: 0;
	border-radius: 5px;
}

#register-wrapper a.bouton-submit {
	color: #FFF;
	line-height: 30px;
	text-decoration: none;
}

#register-wrapper .bouton-submit:hover {
	background-color: #000;
}

#register-wrapper .bouton-submit.disabled {
	background-color: #CCC;
	color: white;
}

#register-wrapper .error {
	font-size: 0.8rem;
	color: red;
	align-self: flex-start;
	text-align: left;
	margin: 0;
	margin-top: -10px;
	margin-bottom: 3px;
	padding: 0;
}

#register-wrapper #form #server-error { 
	font-family: Calibri; 
	background-color: #FF4040; 
	color: #FFF;
	font-size: 1rem; 
	padding: 5px;
	width: calc(100% - 10px);
	margin-top: 10px;
	text-align: center;
	flex: 0.3;	
	border-radius: 5px;	
}

 #register-wrapper #form #server-error.hide { display: none; }

#register-wrapper #CGU {
	margin-top: 2%;
	width: 100%;
	text-align: left;		
	font-size: 0.8rem;
}

#register-wrapper #CGU a {
	font-size: 0.8rem;
	color: #00F;
}

@media all and (max-width: 500px) {

	#register-wrapper { 
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		border: 0;
		width: calc(100vw);
		min-height: calc(100vh - var(--header-height));
		height: calc(100vh);
		padding: 0;
		margin: 0;
	}

	#register-wrapper #icon { display: block; }
	#register-wrapper #icon img { width: 150px; height: auto; margin-top: 40px; }

	#register-wrapper.center { margin-top: 30px;  }

	#register-wrapper label { font-size: 0.9rem; padding: 0px 0 0px 0; }
	#register-wrapper span.infos { margin-bottom: 5px; }
	
	#register-wrapper #form #help { top: -25px; right: 5px; cursor: pointer; }

	#register-wrapper .error {
		font-size: 0.8rem;
		padding: 2px 0 5px 0;
	}

	#register-wrapper #box {
		margin: 0;
		margin-top: 10%;
		border: 0;
		width: calc(100% - 20px); 
		padding: 10px;
		background: transparent;
		border-radius: 0;
	}	

	#register-wrapper #box .titre { font-weight: bold; font-size: 1.3rem; }
	#submit { min-width: 100%; }
	#register-wrapper #box #submit input.bouton-submit { height: 40px;  }
	#register-wrapper #submit a.bouton-submit { height: 40px; line-height: 40px; font-size: 1.4rem; }
	#register-wrapper #box #login { font-size: 1.2rem; margin: 0; padding: 0; }
	
	#footer { margin-top: 20px; }
	#footer a#mdp, #footer a#inscription { font-size: 1.1rem; display: block; margin: 0; margin-top: 10px; }
}