body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background: #f9f9f9;
    font-family: Calibri;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    height: 100vh;          /* Remplir tout l'écran */
}

.page {
    width: 210mm;
    height: 297mm;
    border: 1px solid #000; /* Facultatif */
    /*margin: 10mm auto;*/
    padding: 10mm;
    box-sizing: border-box;
    overflow: hidden;    
    background: #fff;
    transform-origin: top left; /* Point de transformation */    
}

h1 { font-size: 1.4rem; text-align: center; margin: 20px 0 40px 0; }
div { width: 100%; }
div.gras { font-weight: bold; }
div span { font-weight: normal; }
div label { font-weight: normal; }
div span.gras { font-weight: bold; border: 1px solid #CCC; padding: 3px; }

div.textarea span { border: 1px solid #CCC; display: block; width: calc(100% - 2mm); padding: 1mm; margin-top: 1.5mm; }

.interligne { margin-top: 20px; }
.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 12px;
}
#date { text-align: right; }

.button {
	position: fixed;
	bottom: 10px;
	left: 50%;
    transform: translateX(-50%); /* Recentre complètement le bouton */	
}